In [16]:
from db_connection import get_db_connection
import pandas as pd 
from faker import Faker
import random
from datetime import datetime, timedelta
import psycopg2
import ydata_profiling

In [17]:
conn = get_db_connection()

Connected to the database.

In [18]:
cursor = conn.cursor()

In [19]:
cursor.execute('''
SELECT column_name
FROM information_schema.columns
WHERE table_schema = 'public'
  AND table_name = 'customers';
 
''')

In [20]:
cursor.fetchall()

[('customer_id',),
 ('name',),
 ('email',),
 ('phone',),
 ('birth_date',),
 ('amount',),
 ('membership_type',),
 ('timestamp',),
 ('gender',),
 ('table_id',)]

In [21]:
cursor.close()

In [22]:
# # Create a cursor object
# cur = conn.cursor()

# # Define the number of records to generate
# num_records = 1000000

# # Instantiate a Faker object
# fake = Faker()

# # Generate and insert random data into the "customers" table
# for _ in range(num_records):
#     # Generate random values for each field
#     name = fake.first_name()  # First name only to make it more repetitive
#     email = fake.email()
#     phone = fake.phone_number()[:20]  # Limiting to 20 characters
#     birth_date = fake.date_of_birth(minimum_age=18, maximum_age=90).strftime('%Y-%m-%d')
#     amount = round(random.uniform(10, 10000), 2)  # Random amount for each record
#     membership_type = random.choice(['silver', 'gold', 'platinum', 'black', 'tribune'])
#     timestamp = fake.date_time_between(start_date='-1y', end_date='now').strftime('%Y-%m-%d %H:%M:%S')
#     gender = random.choice(['Male', 'Female', 'Other'])
#     table_id = random.randint(1, 30)  # Generate a random table_id ranging from 1 to 30

#     # SQL query to insert data into the "customers" table
#     sql = "INSERT INTO customers (name, email, phone, birth_date, amount, membership_type, timestamp, gender, table_id) " \
#           "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
#     # Execute the SQL query
#     cur.execute(sql, (name, email, phone, birth_date, amount, membership_type, timestamp, gender, table_id))

#     # Commit the transaction every 1000 records
#     if _ % 1000 == 0:
#         conn.commit()

# # Commit the transaction for any remaining records
# conn.commit()

# # Close the cursor and database connection
# cur.close()
# conn.close()

In [23]:
# # Instantiate a Faker object
# fake = Faker()

# # Define the number of employees to generate
# num_employees = 200

# # Define the number of managers, inspectors, and dealers
# num_managers = 10
# num_inspectors = 50
# num_dealers = num_employees - num_managers - num_inspectors

# # Define positions
# managers = ['Manager'] * num_managers
# inspectors = ['Inspector'] * num_inspectors
# dealers = ['Dealer'] * num_dealers

# # Combine positions
# positions = managers + inspectors + dealers

# # Shuffle positions to randomize
# random.shuffle(positions)

# # Generate and insert data into the "employees" table
# for position in positions:
#     name = fake.name()
#     logged_in_time = fake.date_time_between(start_date='-1y', end_date='now')
#     # Insert NULL for logged_out_time initially
#     sql = "INSERT INTO employees (name, position, logged_in_time) VALUES (%s, %s, %s) RETURNING employee_id"
#     cursor.execute(sql, (name, position, logged_in_time))
#     employee_id = cursor.fetchone()[0]
#     # Update logged_out_time for managers and inspectors
#     if position in ['Manager', 'Inspector']:
#         logged_out_time = fake.date_time_between(start_date=logged_in_time, end_date='now')
#         sql = "UPDATE employees SET logged_out_time = %s WHERE employee_id = %s"
#         cursor.execute(sql, (logged_out_time, employee_id))

# # Commit the transaction
# conn.commit()

# # Close the cursor and database connection
# cursor.close()
# conn.close()

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('data_files/43_export.csv')

In [27]:
df.shape[0]

100

In [1]:
print("hiiiiii,........")

hiiiiii,........